<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}UDP OES Data Viewer{% endblock %}</title>
    <script>
        function fetchData(sport) {
            fetch(`/get_udp_data/${sport}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('udpData').innerText = JSON.stringify(data, null, 2);
                });
        }

        function updateServerConfig() {
            const ip = document.getElementById('ip').value;
            const port = document.getElementById('port').value;
            fetch(`/update_server_config`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ip, port})
            });
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="mt-2">
                <div>
                    <label for="ip" style="font-weight: bold; color: white;">IP Address:</label>
                    <input type="text" id="ip" name="ip">
                    <label for="port" style="font-weight: bold; color: white;">Port:</label>
                    <input type="text" id="port" name="port">
                    <button onclick="updateServerConfig()">Update Server Config</button>
                </div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" id="Basketball" href="/Basketball">Basketball</a>
                    <a class="nav-item nav-link" id="Hockey" href="/Hockey">Hockey</a>
                    <a class="nav-item nav-link" id="Lacrosse" href="/Lacrosse">Lacrosse</a>
                    <a class="nav-item nav-link" id="Football" href="/Football">Football</a>
                    <a class="nav-item nav-link" id="Volleyball" href="/Volleyball">Volleyball</a>
                    <a class="nav-item nav-link" id="Wrestling" href="/Wrestling">Wrestling</a>
                    <a class="nav-item nav-link" id="Soccer" href="/Soccer">Soccer</a>
                    <a class="nav-item nav-link" id="Softball" href="/Softball">Softball</a>
                    <a class="nav-item nav-link" id="Baseball" href="/Baseball">Baseball</a>
                    <!-- Add more buttons for other sports -->
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <pre id="udpData"></pre>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
